---
import type { WebPaginas } from "../../interfaces/web_paginas";
import MainLayout from "../../layouts/MainLayout.astro";

// Importar las variables de entorno
const API_KEY = import.meta.env.API_KEY;
const HOST = import.meta.env.HOST;

// Definir el parametro para la URL donde se va a pasar la clave de la rama 'OJ'
const myParams = new URLSearchParams({ web_rama_clave: 'OJ'});

// Definir el init para hacer la petición a la API
const myInit = {
    method: 'GET',
    headers: {
        'Content-Type': 'application',
        'X-Api-Key': API_KEY,
    },
};

// Hacer la petición a la API
const myResponse = await fetch(`${HOST}/web_paginas?${myParams.toString()}`, myInit);
const { items } = await myResponse.json() as WebPaginas;
---

<MainLayout title="Observatorio Judicial">
    <h1 class="text-3xl text-blue-500 mt-3">Observatorio Judicial</h1>
    <hr />
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {items.map((pagina) => <li><a href={`/observatorio-judicial/${pagina.clave}`}>{pagina.titulo}</a></li>)}
    </section>
</MainLayout>
